<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.bitty.notifyme"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="3" />
    <uses-permission
	  android:name="android.permission.READ_CALENDAR">
	 </uses-permission>
	<uses-permission
	   android:name="android.permission.WRITE_CALENDAR">
	</uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar" android:name=".NotifyMeApplication">
        <activity android:name="MainActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="AddEditActivity"
        android:screenOrientation="portrait"></activity>
        <activity android:name="MTAInfoActivity"
        android:screenOrientation="portrait"></activity>
        <activity android:name="DailyNotificationsActivity"
        android:screenOrientation="portrait"></activity>
        
        <receiver android:name=".OnBootReceiver">
		<intent-filter>
			<action android:name="com.bitty.notifyme.MTAService" />
			<action android:name="android.intent.action.BOOT_COMPLETED" />
		</intent-filter>
		</receiver>
		<receiver  android:process=":remote" android:name="AlarmReceiver"></receiver>
		<service android:enabled="true" android:name=".ReminderService" />
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
</manifest>